<section class="about">
  <h2 style="color: darkmagenta;">About Me</h2>
    <ul>
    <li>Detail-oriented Computer Science graduate with a focus on Artificial Intelligence and a strong foundation and practical experience through internships, assistantship, and projects in both Java Full-Stack Development and Data Science.</li> 
    <li>Proficient in building secure, scalable web applications and analyzing complex datasets to derive actionable insights.</li> 
    <li>Proficient in building secure, scalable web applications and analyzing complex datasets to derive actionable insights.</li> 
    <li>Skilled in Spring Boot, React, Python, SQL, and cloud platforms (Azure, AWS).</li> 
    <li>Published researcher and experienced Graduate Teaching Assistant, who is passionate about delivering impactful software solutions.</li>
    <li>Committed to continuous learning and delivering impactful software solutions.</li>
    </ul>
</section>
