# Node modules
node_modules/

# Angular build output
dist/
out-tsc/

# Angular cache
.angular/cache/

# Vite build/cache
vite/
.vite/

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment files
src/environments/*.ts