<section class="education">
  <h2 style="color: darkmagenta;">Education</h2>
  <ul>
    <li>
      <strong>MS, Computer Science | Concentration in Artificial Intelligence</strong> (Aug 2023 – May 2025)<br>
      University of South Carolina, Columbia, SC | GPA: 4.0/4.0
    </li>
    <li>
      <strong>Bachelor’s, Computer Science | Specialization in Data Science</strong> (Aug 2019 – May 2023)<br>
      Koneru Lakshmaiah Education Foundation, Guntur, India | GPA: 3.6/4.0
    </li>
  </ul>
</section>