<section class="skills">
  <h2 style="color: darkmagenta;">Technical Skills</h2>
  <p>
    <strong style="color:brown;">Programming Languages:</strong> Java, Python, C, R <br>
    <strong style="color:brown;">Frontend:</strong> HTML, CSS, JavaScript, React, Angular, Bootstrap <br>
    <strong style="color:brown;">Backend:</strong> SpringBoot, Servlets, JSP, Hibernate, Express.JS, Node.JS, REST APIs, SpringBoot Microservices <br>
    <strong style="color:brown;">Databases:</strong> MySQL, MongoDB, PostgreSQL <br>
    <strong style="color:brown;">Cloud:</strong> AWS, Azure <br>
    <strong style="color:brown;">Tools and Softwares:</strong> Git, GitHub, Eclipse, VS Code, Postman, Jira, Trello <br>
    <strong style="color:brown;">Relevant Courses:</strong> Data Structures and Algorithms, Software Engineering, Artificial Intelligence, Database System Design, Predictive Modeling
  </p>
</section>